test()
    
    padding 2em
    text-align center
  

content()
	padding 5em 
	display flex
	justify-content space-between
	flex-direction row

	a
		text-decoration none
		color white

lineal()
	background #2175bc
	box-shadow: 2px 2px 5px #999;
	padding .5em 
	text-align right

	
@import "nib"
	
body 
	font-size 16px
	font-family Arial
	margin 0
	color white

	h1  
		font-size 2em
	a
		color white
		
	
.top
	position fixed
	width 100%
	lineal()
	ul 	
		
		padding 0.2em
	li
		list-style none
		font-size 1em
		padding  1em	
		display inline
		border-left 1px white solid 
		background #2175bc
	a
		text-decoration none
		font-size 0.8em

	li a:hover
		opacity 0.5
.titulo
	display inline-block 
	color white
.menu
	display inline-block
.content
	content()
	padding-top 7.3em
	img
		width 12em
		height 12em
	.seccion 
		test()
.square
	display inline-block
	background #d91e00
	padding 2em
	margin-top 2em
	box-shadow 2px 2px 5px #585858
	
	a:hover
		opacity 0.4

.central
	content()
	width 70%
	color black
	background lightblue
	margin-right 3%
.side
	padding 1em
	width 20%
	color black
	background lightgreen
	

.footer
	content()
	background #2175bc
	text-align center
	
	.primera
		border-right .2em white solid
		padding .5em
	.final
		padding .5em
		


@media (max-width: 800px)

	.content
		padding 7.3em 0 0 0

	.top
   		text-align center
		.titulo
   			font-size 14px
   	.footer
   		
   		.primera
   			border-right none
   		
	.side
	
		width 400%
		background green
		
		
	
 	
 	
 
	
	
			
	
	
	

	
	

