test()
    display inline-block
    background #d91e00
    box-shadow 2px 2px 5px #585858
    padding 2em
    text-align center

content()
	padding 2em
	display flex
	justify-content space-between
	flex-direction row
	margin 0 5em 0 5em
	a
		text-decoration none
		color white

lineal()
	background #2175bc
	box-shadow: 2px 2px 5px #999;
	padding .5em 
	text-align right
columna()

	width 30%
	display inline-block
	text-align center

@import "nib"
	
body 
	font-size 16px
	font-family Arial
	margin 0
	color white

	h1  
		font-size 2em
		
	
.top
	position fixed
	width 100%
	lineal()
	ul 	
		
		padding 0.2em
	li
		list-style none
		font-size 1em
		padding  1em	
		display inline
		border-left 1px white solid 
		background #2175bc
	a
		text-decoration none
		font-size 0.8em

	li a:hover
		opacity 0.5
.titulo
	display inline-block 
	color white
.menu
	display inline-block
		
.clasificaciones
	content()
	a:hover
		opacity 0.4
.info
	content()
	a:hover
		opacity 0.4

.seccion 
	test()
.content
	padding-top 9em
	img
		width 12em
		height 12em
	
.footer
	background #2175bc
	text-align center
	
.primera
	columna()
	border-right .2em white solid
.final
	columna()


	
	
	
			
	
	
	

	
	

